<form class="{{cssClass}}" autocomplete="off">

    {{!-- Character Sheet Sections --}}
    <div class="sheet-section-container">

        <div class="sheet-fixed-container">
            <div class="character-profile-container">
                <div class="profile-img-container">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
                    <div class="status-column">
                        <div class="vertical-flex-container">
                            <img id="wound-icon" src="icons/skills/wounds/blood-drip-droplet-red.webp" title="Wounded {{actor.system.woundPenalty}}">
                            <img id="fatigue-icon" src="icons/magic/control/debuff-energy-hold-green.webp" title="Fatigued {{actor.system.fatigue.penalty}}">
                            <img id="enc-icon" src="icons/containers/bags/pack-leather-brown.webp" title="{{actor.system.carry_rating.label}} {{actor.system.carry_rating.penalty}}">
                        </div>
                    </div>
                </div>
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="core">Core</a>
                    <a class="item" data-tab="combat">Combat</a>
                    <a class="item" data-tab="magic">Magic</a>
                    <a class="item" data-tab="equipment">Items</a>
                </nav>
                <div>
                    <h1 class="charname"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"></h1>
                </div>
            </div>
            <div class="fixed-data-container">
                <div class="resourceBars">
                    <div id="hpResource">
                        <div class="resourceLabel">
                            <button type="button" data-resource="hp">Health</button>
                            <div class="resourceButton">
                                <i data-action="increase" data-resource="hp" class="fas fa-angle-up incrementResource"></i>
                                <i data-action="decrease" data-resource="hp" class="fas fa-angle-down incrementResource"></i>
                            </div>
                        </div>
                        <div class="maxBar" data-resource="hp">
                            <div class="bar-values">
                                <input type="number" name="system.hp.value" value="{{actor.system.hp.value}}"> / <label>{{actor.system.hp.max}}</label>
                            </div>
                            <div id="hpBar" class="currentBar" data-resource="hp"></div>
                        </div>
                    </div>
                    <div id="staminaResource">
                        <div class="resourceLabel">
                            <button type="button" data-resource="stamina">Stamina</button>
                            <div class="resourceButton">
                                <i data-action="increase" data-resource="stamina" class="fas fa-angle-up incrementResource"></i>
                                <i data-action="decrease" data-resource="stamina" class="fas fa-angle-down incrementResource"></i>
                            </div>
                        </div>
                        <div class="maxBar" data-resource="hp">
                            <div class="bar-values">
                                <input type="number" name="system.stamina.value" value="{{actor.system.stamina.value}}"> / <label>{{actor.system.stamina.max}}</label>
                            </div>
                            <div id="staminaBar" class="currentBar" data-resource="stamina"></div>
                        </div>
                    </div>
                    <div id="magickaResource">
                        <div class="resourceLabel">
                            <button type="button" data-resource="magicka">Magicka</button>
                            <div class="resourceButton">
                                <i data-action="increase" data-resource="magicka" class="fas fa-angle-up incrementResource"></i>
                                <i data-action="decrease" data-resource="magicka" class="fas fa-angle-down incrementResource"></i>
                            </div>
                        </div>
                        <div class="maxBar" data-resource="hp">
                            <div class="bar-values">
                                <input type="number" name="system.magicka.value" value="{{actor.system.magicka.value}}"> / <label>{{actor.system.magicka.max}}</label>
                            </div>
                            <div id="magickaBar" class="currentBar" data-resource="magicka"></div>
                        </div>
                    </div>
                    <div id="luckResource">
                        <div class="resourceLabel">
                            <button type="button" data-resource="luck_points">Luck</button>
                            <div class="resourceButton">
                                <i data-action="increase" data-resource="luck_points" class="fas fa-angle-up incrementResource"></i>
                                <i data-action="decrease" data-resource="luck_points" class="fas fa-angle-down incrementResource"></i>
                            </div>
                        </div>
                        <div class="maxBar" data-resource="hp">
                            <div class="bar-values">
                                <input type="number" name="system.luck_points.value" value="{{actor.system.luck_points.value}}"> / <label>{{actor.system.luck_points.max}}</label>
                            </div>
                            <div id="luck_pointsBar" class="currentBar" data-resource="luck_points"></div>
                        </div>
                    </div>
                </div>

                <div class="characteristics-container">
                    <h2>
                        <button type="button" class="setBaseCharacteristics">Set</button>
                        <div>Characteristics</div>
                    </h2>
                    <div class="characteristic-entry-container">
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.str.favored" {{checked actor.system.characteristics.str.favored}}>
                            <div id="str" name="Strength" class="characteristic-roll styled-font rollable">Strength</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.str.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.end.favored" {{checked actor.system.characteristics.end.favored}}>
                            <div id="end" name="Endurance" class="characteristic-roll styled-font rollable">Endurance</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.end.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.agi.favored" {{checked actor.system.characteristics.agi.favored}}>
                            <div id="agi" name="Agility" class="characteristic-roll styled-font rollable">Agility</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.agi.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.int.favored" {{checked actor.system.characteristics.int.favored}}>
                            <div id="int" name="Intelligence" class="characteristic-roll styled-font rollable">Intelligence</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.int.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.wp.favored" {{checked actor.system.characteristics.wp.favored}}>
                            <div id="wp" name="Willpower" class="characteristic-roll styled-font rollable">Willpower</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.wp.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.prc.favored" {{checked actor.system.characteristics.prc.favored}}>
                            <div id="prc" name="Perception" class="characteristic-roll styled-font rollable">Perception</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.prc.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.prs.favored" {{checked actor.system.characteristics.prs.favored}}>
                            <div id="prs" name="Personality" class="characteristic-roll styled-font rollable">Personality</div>
                            <div class="right-align-content">
                                <div class="styled-font red">{{actor.system.characteristics.prs.total}}</div>
                            </div>
                        </div>
                        <div class="characteristic">
                            <input class="checkbox" type="checkbox" name="system.characteristics.lck.favored" {{checked actor.system.characteristics.lck.favored}}>
                            <div id="lck" name="Luck" class="characteristic-roll styled-font rollable">Luck</div>
                            <div class="right-align-content">
                                <div class="relative-container">
                                    <div class="styled-font red">{{actor.system.characteristics.lck.total}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="sheet-body">
            <div class="tab core" data-group="primary" data-tab="core">
                <div class="tabContainer">

                    <div class="about-buttons">
                        <div class="buttonStats">
                            <button type="button" id="luckyMenu">Lucky/Unlucky</button>
                            <button type="button" id="xpMenu">Exp: {{actor.system.xp}}</button>
                            <button type="button" id="raceMenu">Race: {{actor.system.race}}</button>
                            <button type="button" id="birthSignMenu">Sign: {{actor.system.birthsign}}</button>
                        </div>
                    </div>

                    <div class="skillContainer">
                        <h2 class="headerWithButton">
                            <button type="button" class="item-create" id="skill">+</button>
                            <label>Skills</label>
                        </h2>
                        <ul class="skillList">
                            {{#each actor.itemTypes.skill as |item id|}}
                                <li class="item" data-item-id="{{item._id}}">
                                    <div class="itemInfo">
                                        <i class="fas fa-dice-d20 skill-roll"></i>
                                        <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                        <div class="item-name">{{item.name}}</div>
                                    </div>
                                    <div class="item-controls">
                                        <div class="item-value">{{item.system.value}}%</div>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="two-column-flex-container">
                        <div class="languageContainer">
                            <h2 class="headerWithButton">
                                <button type="button" class="item-create" id="language">+</button>
                                <label>Languages</label>
                            </h2>
                            <ol class="single-column-list">
                                {{#each actor.itemTypes.language as |item id|}}
                                    <li class="item" data-item-id="{{item._id}}">
                                        <div class="itemInfo">
                                            <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                        <div class="item-controls">
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>
                        <div class="factionContainer">
                            <h2 class="headerWithButton">
                                <button type="button" class="item-create" id="faction">+</button>
                                <label>Factions</label>
                            </h2>
                            <ol class="single-column-list">
                                {{#each actor.itemTypes.faction as |item id|}}
                                    <li class="item" data-item-id="{{item._id}}">
                                        <div class="itemInfo">
                                            <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                        <div class="item-controls">
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>

                    <div class="bioPage">
                        <h2>Biography</h2>
                        <div class="contentContainer">
                            {{editor actor.system.bio target="system.bio" button=true owner=owner engine="prosemirror" editable=editable}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab combat" data-group="primary" data-tab="combat">
                <div class="combatTabContainer">
                    <div class="combat-tab-primary-header">
                        <div class="combat-stats-container">
                            <div class="combat-stat">
                                <div class="stat-value-label">{{actor.system.speed.value}}</div>
                                <div class="flex-container">
                                    <div class="small-text-label">Speed</div>
                                </div>
                            </div>
                            <div class="combat-stat">
                                <div class="stat-value-label">
                                    <div class="flex-container-input">
                                        <input type="number" name="system.action_points.value" value="{{actor.system.action_points.value}}">
                                        /
                                        <input type="number" name="system.action_points.max" value="{{actor.system.action_points.max}}">
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div class="small-text-label">AP</div>
                                </div>
                            </div>
                            <div class="combat-stat">
                                <div class="stat-value-label">{{actor.system.speed.swimSpeed}}</div>
                                <div class="flex-container">
                                    <div class="small-text-label">Swim</div>
                                </div>
                            </div>
                            <div class="combat-stat">
                                <div class="stat-value-label">{{actor.system.wound_threshold.value}}</div>
                                <div class="flex-container">
                                    <div class="small-text-label">Wound</div>
                                </div>
                            </div>
                            <div class="combat-stat">
                                <div class="stat-value-label">{{actor.system.speed.flySpeed}}</div>
                                <div class="flex-container">
                                    <div class="small-text-label">Fly</div>
                                </div>
                            </div>
                            <div class="combat-stat">
                                <div class="stat-value-label">{{actor.system.initiative.value}}</div>
                                <div class="flex-container">
                                    <div class="small-text-label">Initiative</div>
                                </div>
                            </div>
                        </div>
                        <div class="resistance-container">
                            <h2>Resistances</h2>
                            <div class="resistance-grid">
                                <div class="flex-container">
                                    <div>Fire</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.fireR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Frost</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.frostR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Shock</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.shockR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Magic</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.magicR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Poison</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.poisonR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Silver</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.silverR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Sunlight</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.sunlightR}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Toughness</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.natToughness}}</div>
                                </div>
                                <div class="flex-container">
                                    <div>Disease</div>
                                    <div class="styled-font-red center-align">{{actor.system.resistance.diseaseR}}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="status-controls-container">
                            <h2>Status</h2>
                            <div class="status-grid-container">
                                <div class="flex-container">
                                    <div>Wounded</div>
                                    <input title="Wounded" class="woundCheckBox checkbox" type="checkbox" name="system.wounded" {{checked actor.system.wounded}}>
                                </div>
                                <div class="flex-container">
                                    <div>Fatigue</div>
                                    <div class="label-flex-container">
                                        <label title="Fatigue Level (Fatigue Modifier)">{{actor.system.fatigue.level}} ({{actor.system.fatigue.bonus}})</label>
                                        <div class="resourceButton">
                                            <i class="fas fa-angle-up incrementFatigue" data-action="increase"></i>
                                            <i class="fas fa-angle-down incrementFatigue" data-action="decrease"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div>ENC</div>
                                    <label title="{{actor.system.carry_rating.current}} / {{actor.system.carry_rating.max}}">{{actor.system.carry_rating.label}}</label>
                                </div>
                                <div class="flex-container">
                                    <div>Size</div>
                                    <select name="system.size" data-type="String">
                                        {{#select actor.system.size}}
                                        {{#each actor.system.size_cat as |size_cat key|}}
                                        <option value="{{key}}">{{size_cat}}</option>
                                        {{/each}} {{/select}}
                                    </select>
                                </div>
                                <div class="flex-container">
                                    <div>AC</div>
                                    <select name="system.armor_class" data-type="String">
                                        {{#select actor.system.armor_class}}
                                        {{#each actor.system.armor_class_cat as |armor_class_cat key|}}
                                        <option value="{{key}}">{{armor_class_cat}}</option>
                                        {{/each}} {{/select}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="combat-item-container">
                        <table class="combat-style-table">
                            <thead>
                                <tr>
                                    <th class="item-name-cell item-create" id="combatStyle">+ Combat Style</th>
                                    <th>%</th>
                                    <th>Rank</th>
                                    <th class="right-align-cell"><i class="fas fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actor.itemTypes.combatStyle as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name-cell">
                                            <div class="flex-container">
                                                <i class="fas fa-dice-d20 combat-roll"></i>
                                                <img class="item-img" src="{{item.img}}">
                                                <div class="item-name">{{item.name}}</div>
                                            </div>
                                        </td>
                                        <td>{{item.system.value}}%</td>
                                        <td>
                                            <select class="rank-select" id="{{item._id}}" name="rank-select" value="{{item.system.rank}}">
                                                <option value="untrained">Untrained</option>
                                                <option value="novice">Novice</option>
                                                <option value="apprentice">Apprentice</option>
                                                <option value="journeyman">Journeyman</option>
                                                <option value="adept">Adept</option>
                                                <option value="expert">Expert</option>
                                                <option value="master">Master</option>
                                            </select>
                                        </td>
                                        <td class="right-align-cell"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <table class="weapon-table">
                            <thead>
                                <tr>
                                    <th class="item-name-cell equip-items" id="weapon">Equip Weapons</th>
                                    <th>Damage</th>
                                    <th>Reach</th>
                                    <th>2H</th>
                                    <th class="right-align-cell"><i class="fas fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actor.weapon.equipped as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name-cell">
                                            <div class="flex-container">
                                                <i class="fas fa-dice-d20 damage-roll"></i>
                                                <img class="item-img" src="{{item.img}}">
                                                <div class="item-name">{{item.name}}</div>
                                            </div>
                                        </td>
                                        <td class="damage-entry">{{item.system.damage3}}</td>
                                        <td>{{item.system.reach}}</td>
                                        <td><input class="toggle2H checkbox" type="checkbox" {{checked item.system.weapon2H}} title="Toggle 2H Damage"></td>
                                        <td class="right-align-cell"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <table class="ammunition-table">
                            <thead>
                                <tr>
                                    <th class="item-name-cell equip-items" id="ammunition">Equip Ammo</th>
                                    <th>Bonus</th>
                                    <th>Qty</th>
                                    <th class="right-align-cell"><i class="fas fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actor.ammunition.equipped as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name-cell">
                                            <div class="flex-container">
                                                <i class="fas fa-dice-d20 ammo-roll"></i>
                                                <img class="item-img" src="{{item.img}}">
                                                <div class="item-name">{{item.name}}</div>
                                            </div>
                                        </td>
                                        <td>{{item.system.damage}}</td>
                                        <td><button type="button" class="minusQty plusQty" title="Click to Increase, right-click to decrease">{{item.system.quantity}}</button></td>
                                        <td class="right-align-cell"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <table class="armor-table">
                            <thead>
                                <tr>
                                    <th class="item-name-cell equip-items" id="armor" data-alt-type="item">Equip Armor</th>
                                    <th>AR</th>
                                    <th>MR</th>
                                    <th>BR</th>
                                    <th class="right-align-cell"><i class="fas fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actor.armor.equipped as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name-cell">
                                            <div class="flex-container">
                                                <input type="checkbox" class="itemEquip checkbox" {{checked system.equipped}}>
                                                <img class="item-img" src="{{item.img}}">
                                                <div class="item-name">{{item.name}}</div>
                                            </div>
                                        </td>
                                        <td>{{item.system.armor}}</td>
                                        <td>{{item.system.magic_ar}}</td>
                                        <td>{{item.system.blockRating}}</td>
                                        <td class="right-align-cell"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                                {{#each actor.gear.equipped as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name-cell">
                                            <div class="flex-container">
                                                <input type="checkbox" class="itemEquip checkbox" {{checked system.equipped}}>
                                                <img class="item-img" src="{{item.img}}">
                                                <div class="item-name">{{item.name}}</div>
                                            </div>
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td class="right-align-cell"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <div class="three-column-flex-container">
                        <div class="trait-container">
                            <h2 class="headerWithButton">
                                <button type="button" class="item-create" id="trait">+</button>
                                <label>Traits</label>
                            </h2>
                            <ol class="single-column-list">
                                {{#each actor.itemTypes.trait as |item id|}}
                                    <li class="item" data-item-id="{{item._id}}">
                                        <div class="itemInfo">
                                            <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                        <div class="item-controls">
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>
                        <div class="talent-container">
                            <h2 class="headerWithButton">
                                <button type="button" class="item-create" id="talent">+</button>
                                <label>Talents</label>
                            </h2>
                            <ol class="single-column-list">
                                {{#each actor.itemTypes.talent as |item id|}}
                                    <li class="item" data-item-id="{{item._id}}">
                                        <div class="itemInfo">
                                            <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                        <div class="item-controls">
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>
                        <div class="power-container">
                            <h2 class="headerWithButton">
                                <button type="button" class="item-create" id="power">+</button>
                                <label>Powers</label>
                            </h2>
                            <ol class="single-column-list">
                                {{#each actor.itemTypes.power as |item id|}}
                                    <li class="item" data-item-id="{{item._id}}">
                                        <div class="itemInfo">
                                            <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                        <div class="item-controls">
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab magic" data-group="primary" data-tab="magic">
                <div class="magicTabContainer">
                    <div class="magicSkillContainer">
                        <h2 class="headerWithButton">
                            <button type="button" class="item-create" id="magicSkill">+</button>
                            <label>Magic Skills</label>
                        </h2>
                        <ol class="skillList">
                            {{#each actor.itemTypes.magicSkill as |item id|}}
                                <li class="item" data-item-id="{{item._id}}">
                                    <div class="itemInfo">
                                        <i class="fas fa-dice-d20 skill-roll"></i>
                                        <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                        <div class="item-name">{{item.name}}</div>
                                    </div>
                                    <div class="item-controls">
                                        <div class="item-value">{{item.system.value}}%</div>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                            {{/each}}
                        </ol>
                    </div>

                    <div class="spellListContainer">
                        <div class="spellList">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="item-create item-name-cell" id="spell">+ Spell</th>
                                        <th>MP Cost</th>
                                        <th>
                                            <select id="spellFilter">
                                                <option>All</option>
                                            </select>
                                        </th>
                                        <th><i class="fas fa-trash"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each actor.itemTypes.spell as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-spell-school="{{item.system.school}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    <i class="fas fa-dice-d20 magic-roll"></i>
                                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                                    <div class="item-name">{{item.name}}</div>
                                                </div>
                                            </td>
                                            <td>{{item.system.cost}}</td>
                                            <td>{{item.system.school}}</td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab equipment" data-group="primary" data-tab="equipment">
                <div class="equipmentTabContainer">
                    <div class="itemListContainer">
                        <div class="tableListHeader">
                            <div class="equipment-info-container">
                                <div class="wealthContainer">
                                    <h2>Wealth</h2>
                                    <input type="number" name="system.wealth" value="{{actor.system.wealth}}">
                                    <button type="button" class="wealthCalc">Add/Subtract</button>
                                </div>
                                <div class="encContainer">
                                    <h2>Encumbrance</h2>
                                    <div class="encLabel">{{actor.system.carry_rating.current}} / {{actor.system.carry_rating.max}} ENC</div>
                                    <button type="button" class="carryBonus">Set Carry Bonus</button>
                                </div>
                            </div>
                        </div>

                        <div class="containerList">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="item-name-cell item-create" id="container">+ Container</th>
                                        <th title="ENC Value of the empty container / ENC Value applied to carry limit">ENC</th>
                                        <th>Capacity</th>
                                        <th>Item Count</th>
                                        <th><i class="fas fa-trash"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each actor.container as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    <div class="qty-controls">
                                                        <input type="checkbox" class="itemEquip checkbox" {{checked system.equipped}} title="Equip">
                                                    </div>
                                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                                    <div class="item-name">{{item.name}}</div>
                                                </div>
                                            </td>
                                            <td title="ENC/Applied ENC">{{item.system.enc}}/{{item.system.container_enc.applied_enc}}</td>
                                            <td>{{item.system.container_enc.current}}/{{item.system.container_enc.max}}</td>
                                            <td>{{item.system.container_enc.item_count}}</td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <div class="equipmentList">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="item-name-cell item-create" id="createSelect">+ Item</th>
                                        <th>
                                            <select id="itemFilter">
                                                <option>All</option>
                                            </select>
                                        </th>
                                        <th>ENC</th>
                                        <th>Price</th>
                                        <th><i class="fas fa-trash"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each actor.gear.unequipped as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    <div class="qty-controls">
                                                        <button type="button" class="minusQty plusQty" title="Click to increase, right click to decrease">
                                                            <div>{{item.system.quantity}}</div>
                                                        </button>
                                                    </div>
                                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                                    {{#if item.system.containerStats.contained}}
                                                        <i title="Open Container" class="fa-solid fa-backpack" data-container-id="{{item.system.containerStats.container_id}}"></i>
                                                    {{/if}}
                                                    <div class="item-name">{{item.name}}</div>
                                                </div>
                                            </td>
                                            <td>item</td>
                                            <td>{{item.system.enc}}</td>
                                            <td>{{item.system.price}}</td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    {{#each actor.armor.unequipped as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    <div class="qty-controls">
                                                        <button type="button" class="minusQty plusQty" title="Click to increase, right click to decrease">
                                                            <div>{{item.system.quantity}}</div>
                                                        </button>
                                                    </div>
                                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                                    {{#if item.system.containerStats.contained}}
                                                        <i title="Open Container" class="fa-solid fa-backpack" data-container-id="{{item.system.containerStats.container_id}}"></i>
                                                    {{/if}}
                                                    <div class="item-name">{{item.name}}</div>
                                                </div>
                                            </td>
                                            <td>armor</td>
                                            <td>{{item.system.enc}}</td>
                                            <td>{{item.system.price}}</td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    {{#each actor.weapon.unequipped as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    <div class="qty-controls">
                                                        <button type="button" class="minusQty plusQty" title="Click to increase, right click to decrease">
                                                            <div>{{item.system.quantity}}</div>
                                                        </button>
                                                    </div>
                                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                                    {{#if item.system.containerStats.contained}}
                                                        <i title="Open Container" class="fa-solid fa-backpack" data-container-id="{{item.system.containerStats.container_id}}"></i>
                                                    {{/if}}
                                                    <div class="item-name">{{item.name}}</div>
                                                </div>
                                            </td>
                                            <td>weapon</td>
                                            <td>{{item.system.enc}}</td>
                                            <td>{{item.system.price}}</td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    {{#each actor.ammunition.unequipped as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    <div class="qty-controls">
                                                        <button type="button" class="minusQty plusQty" title="Click to increase, right click to decrease">
                                                            <div>{{item.system.quantity}}</div>
                                                        </button>
                                                    </div>
                                                    <img class="item-img" src="{{item.img}}" title="Send to Chat"/>
                                                    {{#if item.system.containerStats.contained}}
                                                        <i title="Open Container" class="fa-solid fa-backpack" data-container-id="{{item.system.containerStats.container_id}}"></i>
                                                    {{/if}}
                                                    <div class="item-name">{{item.name}}</div>
                                                </div>
                                            </td>
                                            <td>ammo</td>
                                            <td>{{item.system.enc}}</td>
                                            <td>{{item.system.price}}</td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</form>

