<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
        <header class="sheet-header">
            <div class="header-fields">
                <h1 class="charname flex-container">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
                <div class="item-resource-container">
                    <div class="item-resource-row">
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.quantity" value="{{item.system.quantity}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Quantity</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.enc" value="{{item.system.enc}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">ENC</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.price" value="{{item.system.price}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Price</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.enchant_level" value="{{item.system.enchant_level}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Enchant Lv.</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <div class="flex-container">
                                    <input type="number" name="system.charge.value" value="{{item.system.charge.value}}"> / <input type="number" name="system.charge.max" value="{{item.system.charge.max}}">
                                </div>
                            </div>
                            <div class="flex-container">
                                <i class="fas fa-angle-down fa-xs chargeMinus"></i>
                                <div class="small-text-label">Charge</div>
                                <i class="fas fa-angle-up fa-xs chargePlus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="attributes">Attributes</a>
        </nav>
        </div>
    
        {{!-- Sheet Body --}}
        <section class="sheet-body">
    
            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                <div class="item-description-container">
                    <div class="item-selection-container">
                        <h2 class="headerWithButton">
                            <button type="button" class="modifier-create">+</button>
                            <div>Modifiers</div>
                        </h2>
                        <div class="selection-container" id="item-modifiers"></div>
                    </div>
                    <div class="basic-padding">
                        {{editor item.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                    </div>
                </div>
            </div>
    
            {{!-- Attributes Tab --}}
            <div class="tab" data-group="primary" data-tab="attributes">
                <div class="attribute-tab-container">
                    <div class="item-selection-container">
                        <h2>Attributes</h2>
                        <div class="selection-container">
                            <div class="grid-container">
                                <div>Ignore ENC</div>
                                <div class="right-align-content">
                                    <input class="checkbox" type="checkbox" name="system.excludeENC" {{checked item.system.excludeENC}}>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div>Wearable Item</div>
                                <div class="right-align-content">
                                    <input class="checkbox" type="checkbox" name="system.wearable" {{checked item.system.wearable}}>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div>Equipped</div>
                                <div class="right-align-content">
                                    <input class="checkbox" type="checkbox" name="system.equipped" {{checked item.system.equipped}}>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div>Charge Reduction</div>
                                <div class="right-align-content">
                                    <input type="number" name="system.charge.reduction" value="{{item.system.charge.reduction}}">
                                </div>
                            </div>
                            <div class="grid-container">
                                <div>Container</div>
                                <div class="right-align-content">
                                    <div>{{item.system.containerStats.container_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attribute-container">
                        <div class="item-characteristic-container">
                            <h2>Characteristics</h2>
                            <div class="modifier-container">
                                <div class="grid-container">
                                    <div>Strength</div>
                                    <div><input type="number" name="system.characteristicBonus.strChaBonus" value="{{item.system.characteristicBonus.strChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Endurance</div>
                                    <div><input type="number" name="system.characteristicBonus.endChaBonus" value="{{item.system.characteristicBonus.endChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Agility</div>
                                    <div><input type="number" name="system.characteristicBonus.agiChaBonus" value="{{item.system.characteristicBonus.agiChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Intelligence</div>
                                    <div><input type="number" name="system.characteristicBonus.intChaBonus" value="{{item.system.characteristicBonus.intChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Willpower</div>
                                    <div><input type="number" name="system.characteristicBonus.wpChaBonus" value="{{item.system.characteristicBonus.wpChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Perception</div>
                                    <div><input type="number" name="system.characteristicBonus.prcChaBonus" value="{{item.system.characteristicBonus.prcChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Personality</div>
                                    <div><input type="number" name="system.characteristicBonus.prsChaBonus" value="{{item.system.characteristicBonus.prsChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Luck</div>
                                    <div><input type="number" name="system.characteristicBonus.lckChaBonus" value="{{item.system.characteristicBonus.lckChaBonus}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-resistance-container">
                            <h2>Resistances</h2>
                            <div class="modifier-container">
                                <div class="grid-container">
                                    <div>Disease</div>
                                    <div><input type="number" name="system.diseaseR" value="{{item.system.diseaseR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Fire</div>
                                    <div><input type="number" name="system.fireR" value="{{item.system.fireR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Frost</div>
                                    <div><input type="number" name="system.frostR" value="{{item.system.frostR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Shock</div>
                                    <div><input type="number" name="system.shockR" value="{{item.system.shockR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Poison</div>
                                    <div><input type="number" name="system.poisonR" value="{{item.system.poisonR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Magic</div>
                                    <div><input type="number" name="system.magicR" value="{{item.system.magicR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Toughness</div>
                                    <div><input type="number" name="system.natToughnessR" value="{{item.system.natToughnessR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Silver</div>
                                    <div><input type="number" name="system.silverR" value="{{item.system.silverR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Sunlight</div>
                                    <div><input type="number" name="system.sunlightR" value="{{item.system.sunlightR}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</form>
