<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
        <header class="sheet-header">
            <div class="header-fields">
                <h1 class="charname flex-container">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
                <div class="item-resource-container">
                    <div class="item-resource-row">
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.level" value="{{item.system.level}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Level</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.cost" value="{{item.system.cost}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">MP Cost</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <select name="system.school" data-dtype="String">
                                    {{#select item.system.school}}
                                    {{#each item.system.school_cat as | school_cat key|}}
                                    <option value="{{key}}">{{school_cat}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">School</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <select name="system.spellType" data-dtype="String">
                                    {{#select item.system.spellType}}
                                    {{#each item.system.spellTypes as | spellTypes key|}}
                                    <option value="{{key}}">{{spellTypes}}</option>
                                    {{/each}} {{/select}}
                                </select>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Type</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="text" name="system.damage" value="{{item.system.damage}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Damage</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="text" name="system.form" value="{{item.system.form}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Form</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="attributes">Attributes</a>
        </nav>
        </div>
    
        {{!-- Sheet Body --}}
        <section class="sheet-body">
    
            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                {{editor item.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
    
            {{!-- Attributes Tab --}}
            <div class="tab" data-group="primary" data-tab="attributes">
                <div class="attribute-tab-container">
                    <div class="quality-container">
                        <div class="flex-container">
                            <h2>Spell Attributes</h2>
                            <div>{{editor item.system.attributes target="system.attributes" engine="prosemirror" button=true owner=owner editable=editable}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</form>
